<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= doctor.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= doctor.gender %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= doctor.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.specialization %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= doctor.available %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= doctor.is_active %>
  </p>

</div>
